<%- include('partials/header.ejs'); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="postTitle"> Post Title </label>
        <input id="postTitle" type="text" name="postTitle" class="form-control" aria-describedby="Post Title" placeholder=" Please Input your Post Title ">
        <label for="postBody"> Post Body </label>
        <textarea id="postBody" name="postBody" cols="50" rows="5" class="form-control" placeholder="Input your Content"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" name="publish" class="btn btn-primary">Publish</button>
    </div>



</form>
<%- include('partials/footer.ejs'); -%>
